{% extends "base.html" %}
    {% block title %} Registrer deg {% endblock %}

{% block content %}
    <h1>Her registerer du deg som bruker. Brukere er Admin, Butikkeier og Auksjonær</h1>

    <form method="post">
        <h3>Registrer deg</h3>
        <div class="form-group">
            <label for="epost">Epostadresse</label>
            <input
                    type="epost"
                    class="form-control"
                    id="epost"
                    name="epost"
                    placeholder="Skriv inn din epostadresse">
        </div>
        <div class="form-group">
                <label for="fornavn">Fornavn</label>
                <input
                        type="text"
                        class="form-control"
                        id="fornavn"
                        name="fornavn"
                        placeholder="Skriv inn ditt fornavn">
        </div>
         <div class="form-group">
                <label for="etternavn">Etternavn</label>
                <input
                        type="text"
                        class="form-control"
                        id="etternavn"
                        name="etternavn"
                        placeholder="Skriv inn ditt etternavn">
        </div>
        <div class="form-group">
                <label for="passord1">Passord</label>
                <input
                        type="password"
                        class="form-control"
                        id="passord1"
                        name="passord1"
                        placeholder="Skriv inn ditt passord">
        </div>
        <div class="form-group">
                <label for="passord2">Bekreft passord</label>
                <input
                        type="password"
                        class="form-control"
                        id="passord2"
                        name="passord2"
                        placeholder="Bekreft ditt passord">
        </div>
        <div class="form-group">
                <label for="bruker">Angi brukerrolle: Butikkeier, Auksjonær, eller Admin</label>
                <input
                        type="bruker"
                        class="form-control"
                        id="bruker"
                        name="bruker"
                        placeholder="Angi rolle.">
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Send inn</button>
    </form>
{% endblock %}